rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Alleen het eigenaar-account mag lezen en schrijven.
    // Alle andere gebruikers (ook ingelogde) worden geweigerd.
    match /{document=**} {
      allow read, write: if request.auth != null
                         && request.auth.uid == "ykTGRpQNIsbiAHmwkzJNvFFY9T82";
    }
  }
}
